mixin createMenu(menu, active)
    each value, key in menu
        if active == key
            a.active(href= value)= key
        else
            a(href= value)= key

mixin createGallery(images)
  .gallery
    .gallery__left
      each href, img in images
        if Object.keys(images).indexOf(img) < 2
          .gallery__left--img
            a(href=href)
              img(src=require(`../images/${img}`))
    
    .gallery__right
      each href, img in images
        if Object.keys(images).indexOf(img) >= 2
          - const index = Object.keys(images).indexOf(img) - 2
          - const className = index === 1 ? 'gallery__right--img--middle' : 'gallery__right--img'
          div(class=className)
            a(href=href)
              img(src=require(`../images/${img}`))
